In [3]:
import numpy as np
import pandas as pd
import math 
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

In [4]:
cities=['Delhi','mumbai','kolkata','chennai']
code=[11,22,33,44]
mydata=list(zip(cities,code))

In [5]:
mydata

[('Delhi', 11), ('mumbai', 22), ('kolkata', 33), ('chennai', 44)]

In [6]:
df=pd.DataFrame({'cities':cities,'code':code})
df

    cities  code
0    Delhi    11
1   mumbai    22
2  kolkata    33
3  chennai    44

In [11]:
file="/media/dell/D_PROJECTS/Edvancer_Class/PythonWithML/Data/loans data.csv"
ld=pd.read_csv(file)

In [12]:
ld.sample(10)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
1549,38028.0,6400,6400,7.51%,36 months,major_purchase,9.58%,IL,RENT,6400.00,735-739,11,12306,1.0,< 1 year
648,101622.0,6000,3475,14.70%,36 months,debt_consolidation,10.23%,MD,RENT,6500.00,640-644,6,4103,0.0,1 year
1408,32044.0,6000,6000,7.49%,36 months,major_purchase,8.81%,NY,OWN,2462.75,715-719,11,8644,0.0,2 years
379,38540.0,14750,14750,16.77%,60 months,debt_consolidation,17.32%,NM,MORTGAGE,2500.00,685-689,8,11003,1.0,8 years
715,92795.0,18000,18000,13.11%,36 months,debt_consolidation,26.54%,OR,MORTGAGE,4166.67,670-674,11,16680,0.0,10+ years
109,67263.0,18825,18825,14.09%,36 months,credit_card,13.08%,MI,RENT,4000.00,710-714,6,20694,1.0,4 years
1261,43844.0,9000,9000,14.27%,36 months,debt_consolidation,18.74%,TX,RENT,5833.33,675-679,13,11637,3.0,8 years
2156,45821.0,7000,7000,8.90%,36 months,small_business,15.79%,PA,MORTGAGE,4700.00,700-704,12,7012,0.0,1 year
1302,103546.0,4500,4500,14.59%,36 months,vacation,17.35%,NY,OWN,6000.00,660-664,18,5197,4.0,2 years
1616,89600.0,24000,24000,15.80%,60 months,debt_consolidation,16.73%,NC,MORTGAGE,7500.00,665-669,10,24126,0.0,7 years

In [13]:
len(ld.columns)

15

In [14]:
ld.columns

Index(['ID', 'Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
       'Home.Ownership', 'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length'],
      dtype='object')

In [15]:
ld.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

In [16]:
ld.shape

(2500, 15)

In [17]:
ld.describe()

                  ID  Monthly.Income  Inquiries.in.the.Last.6.Months
count    2499.000000     2497.000000                     2497.000000
mean    51643.325330     5689.716608                        0.906688
std     30053.637661     3963.568002                        1.231149
min        10.000000      588.500000                        0.000000
25%     26570.500000     3500.000000                        0.000000
50%     50673.000000     5000.000000                        0.000000
75%     77583.000000     6800.000000                        1.000000
max    104202.000000   102750.000000                        9.000000

In [18]:
ld.info

<bound method DataFrame.info of             ID Amount.Requested Amount.Funded.By.Investors Interest.Rate  \
0      81174.0            20000                      20000         8.90%
1      99592.0            19200                      19200        12.12%
2      80059.0            35000                      35000        21.98%
3      15825.0            10000                       9975         9.99%
4      33182.0            12000                      12000        11.71%
5      62403.0             6000                       6000        15.31%
6      48808.0            10000                      10000         7.90%
7      22090.0            33500                      33450        17.14%
8      76404.0            14675                      14675        14.33%
9      15867.0                .                       7000         6.91%
10     94971.0             2000                       2000        19.72%
11     36911.0            10625                      10625        14.27%
12     41200.0            28000                      27975        21.67%
13     83869.0            35000                      34950         8.90%
14     53853.0             9600                       9600         7.62%
15     21399.0            25000                      24975        15.65%
16     62127.0            10000                      10000        12.12%
17     23446.0            14000                   13900.25        10.37%
18     44987.0            10000                      10000         9.76%
19     17977.0             5200                       5175         9.99%
20     86099.0            22000                      21975        21.98%
21     99483.0            30000                      30000        19.05%
22     28798.0             6500                       6500        17.99%
23     24168.0            17400                      17400        11.99%
24     10356.0             4000                       4000        16.82%
25     46027.0             7200                       7200         7.90%
26      2238.0             8000                       8000        14.42%
27     65278.0             8000                       8000        15.31%
28      4227.0             3000                          .         8.59%
29     50182.0            14500                      14500         7.90%
30     87023.0            23850                      23850        21.00%
31     46120.0            14000                      14000        12.12%
32     30756.0            35000                      34975        16.49%
33     94582.0            16000                      16000        15.80%
34       457.0            17350                    7019.25        13.55%
35     96536.0             8000                       7975         7.90%
36     39591.0             7200                       7200         7.90%
37     78862.0            20125                      20125         7.62%
38     54619.0            12000                      11875         8.90%
39    101798.0                .                       1850        12.49%
40     98029.0             3200                       3200        17.27%
41     95579.0            12725                      12725        11.14%
42      4868.0             5500                       5500        19.13%
43     26822.0            15650                      15650        21.74%
44     98445.0             9000                       9000        17.27%
45     14958.0             5000                       5000        11.86%
46     14754.0             3000                       3000        10.38%
47     34501.0            20000                      19975        23.91%
48     26888.0             5450                       5450         7.49%
49     81759.0            14000                      14000        12.12%
...        ...              ...                        ...           ...
2450   26867.0            14000                      12800        14.79%
2451    3508.0             2000                       2000        16.00%
2452   52759.0            25000                      25000         7.90%
2453   72356.0            28200                      28150        10.16%
2454   42253.0            20000                      19925        18.64%
2455   98954.0            24000                      24000        16.29%
2456   98510.0            21850                      21850        17.27%
2457    5821.0            20000                      19850        13.22%
2458    8692.0            16000                      15875        13.85%
2459   94839.0            10000                      10000        11.14%
2460   68406.0            20000                      20000        14.09%
2461   86117.0             1000                       1000         7.90%
2462   14044.0             3500                       3500        11.49%
2463   43056.0            15000                      15000         7.90%
2464   45519.0            19000                      19000        13.67%
2465   45424.0            12000                      11950         6.03%
2466   92038.0            22750                      22750        22.47%
2467   21716.0             9800                     9747.5         7.29%
2468   19492.0             3500                       3500         7.29%
2469   22132.0            20000                    17724.9        10.74%
2470   84265.0            20000                      20000        22.95%
2471   80231.0            19000                      19000         7.90%
2472   49533.0            17300                      17250        22.45%
2473  102514.0             7000                     711.54        15.13%
2474   78618.0             7200                       7200        18.75%
2475   86953.0            10000                      10000        14.09%
2476   80129.0             4000                       3925        14.09%
2477   85216.0            17500                      17500         8.90%
2478   38247.0            20000                      20000        11.71%
2479   91245.0            16200                      16200        15.80%
2480   53041.0            10000                      10000         6.03%
2481   63051.0            27000                      27000         6.62%
2482   14446.0             4500                       4475         7.51%
2483   68628.0                .                      15875        14.33%
2484   98758.0            15000                      15000        10.16%
2485   13070.0            25000                      24950        10.75%
2486   45836.0             7000                       7000        17.27%
2487   52330.0            15000                      15000        19.99%
2488   48243.0            17000                      17000        15.81%
2489   63256.0            19075                      19075        18.75%
2490   42124.0            10000                      10000        11.71%
2491   78043.0             8475                       8475         7.62%
2492     925.0             6400                       6350        10.08%
2493   74047.0            30000                      30000        23.28%
2494   49957.0            24000                      23975        14.65%
2495   23735.0            30000                      29950        16.77%
2496   65882.0            16000                      16000        14.09%
2497   55610.0            10000                      10000        13.99%
2498   38576.0             6000                       6000        12.42%
2499    3116.0             9000                    5242.75        13.79%

     Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
0      36 months  debt_consolidation               14.90%    SC
1      36 months  debt_consolidation               28.36%    TX
2      60 months  debt_consolidation               23.81%    CA
3      36 months  debt_consolidation               14.30%    KS
4      36 months         credit_card               18.78%    NJ
5      36 months               other               20.05%    CT
6      36 months  debt_consolidation               26.09%    MA
7      60 months         credit_card               14.70%    LA
8      36 months         credit_card               26.92%    CA
9      36 months         credit_card                7.10%    CA
10     36 months              moving               10.29%    FL
11     36 months  debt_consolidation               12.54%    CA
12     60 months  debt_consolidation               13.07%    CT
13     36 months  debt_consolidation               20.46%    CT
14     36 months  debt_consolidation                3.45%    DC
15     60 months  debt_consolidation               21.99%    CA
16     36 months  debt_consolidation               17.72%    CA
17     60 months  debt_consolidation               11.95%    OH
18     36 months         credit_card                7.13%    FL
19     60 months  debt_consolidation               10.29%    AL
20     36 months  debt_consolidation               11.19%    TX
21     60 months         credit_card               21.25%    FL
22     60 months                 car               19.63%    FL
23     36 months         credit_card               12.47%    AZ
24     60 months            vacation               13.71%    GA
25     36 months  debt_consolidation               24.82%    TX
26     36 months  debt_consolidation               24.63%    MA
27     36 months  debt_consolidation               15.46%    CA
28     36 months               other                3.72%    MA
29     36 months  debt_consolidation                4.85%    GA
30     60 months  debt_consolidation               28.81%    LA
31     36 months  debt_consolidation               14.93%    CA
32     60 months  debt_consolidation                7.45%    GA
33     60 months                 car               11.94%    WV
34     36 months  debt_consolidation               18.52%    NH
35     36 months                 car               29.62%    AL
36     36 months  debt_consolidation                7.98%    GA
37     36 months    home_improvement                4.29%    VA
38     36 months  debt_consolidation               12.06%    NY
39     36 months    home_improvement               20.56%    MD
40     36 months    home_improvement                8.36%    HI
41     36 months  debt_consolidation               22.15%    TX
42     36 months         credit_card                3.58%    DC
43     36 months               house               13.86%    MD
44     36 months         credit_card               25.22%    CA
45     36 months      major_purchase                   4%    TX
46     36 months  debt_consolidation               15.21%    PA
47     60 months  debt_consolidation                9.47%    CA
48     60 months               other                2.48%    WA
49     36 months  debt_consolidation               11.38%    NY
...          ...                 ...                  ...   ...
2450   60 months               other                8.37%    MI
2451   36 months             medical                2.55%    OR
2452   36 months  debt_consolidation                1.73%    OR
2453   60 months    home_improvement               10.35%    CA
2454   60 months      small_business               15.41%    MO
2455   36 months  debt_consolidation               29.05%    VT
2456   60 months  debt_consolidation               21.94%    MD
2457   36 months  debt_consolidation                9.07%    GA
2458   36 months  debt_consolidation               12.50%    IL
2459   36 months         credit_card               19.61%    PA
2460   36 months         credit_card                9.16%    NJ
2461   36 months    home_improvement               17.07%    FL
2462   36 months    home_improvement               14.43%    MI
2463   36 months         credit_card               22.24%    CA
2464   36 months  debt_consolidation               15.12%    PA
2465   36 months    home_improvement                9.61%    NV
2466   60 months    home_improvement               29.03%    CO
2467   36 months         credit_card                8.96%    OR
2468   36 months               other               15.54%    CA
2469   60 months              moving                3.07%    NC
2470   60 months  debt_consolidation                7.10%    NJ
2471   36 months  debt_consolidation                9.76%    RI
2472   60 months             wedding                3.58%    PA
2473   36 months      major_purchase               18.91%    CO
2474   36 months  debt_consolidation               16.21%    MI
2475   36 months      major_purchase                9.71%    CO
2476   36 months         credit_card               12.27%    FL
2477   36 months  debt_consolidation               10.94%    UT
2478   36 months         credit_card                9.58%    SD
2479   60 months  debt_consolidation                7.92%    PA
2480   36 months      small_business               13.03%    FL
2481   36 months  debt_consolidation               12.21%    OH
2482   36 months      small_business               20.27%    VA
2483   36 months      small_business               17.44%    MD
2484   36 months         credit_card               28.28%    OH
2485   36 months  debt_consolidation               20.48%    OR
2486   36 months               other               18.38%    NY
2487   36 months             wedding               18.05%    CA
2488   36 months  debt_consolidation               17.01%    CO
2489   36 months  debt_consolidation               15.23%    NY
2490   36 months  debt_consolidation                8.40%    CA
2491   36 months  debt_consolidation               15.88%    CA
2492   36 months  debt_consolidation                8.11%    NJ
2493   60 months               other               12.10%    IL
2494   36 months  debt_consolidation               15.29%    WA
2495   60 months  debt_consolidation               19.23%    NY
2496   60 months    home_improvement               21.54%    MD
2497   36 months  debt_consolidation                4.89%    PA
2498   36 months      major_purchase               16.66%    NJ
2499   36 months  debt_consolidation                6.76%    NY

     Home.Ownership  Monthly.Income FICO.Range Open.CREDIT.Lines  \
0          MORTGAGE         6541.67    735-739                14
1          MORTGAGE         4583.33    715-719                12
2          MORTGAGE        11500.00    690-694                14
3          MORTGAGE         3833.33    695-699                10
4              RENT         3195.00    695-699                11
5               OWN         4891.67    670-674                17
6              RENT         2916.67    720-724                10
7          MORTGAGE        13863.42    705-709                12
8              RENT         3150.00    685-689                 9
9              RENT         5000.00    715-719                 8
10             RENT         3575.00    670-674                10
11         MORTGAGE         4250.00    665-669                14
12         MORTGAGE        14166.67    670-674                12
13             RENT         9166.67    735-739                19
14             RENT        11250.00    725-729                13
15             RENT         5416.67    730-734                 6
16             RENT         9000.00    695-699                18
17             RENT         4333.33    740-744                 6
18             RENT         2733.33    730-734                 7
19         MORTGAGE         3750.00    760-764                10
20         MORTGAGE         6666.67    665-669                 9
21         MORTGAGE         6250.00    695-699                12
22             RENT         4100.00    665-669                11
23             RENT         6833.33    695-699                 7
24         MORTGAGE         4500.00    670-674                 5
25             RENT         5416.67    705-709                 8
26             RENT         2964.17    675-679                 9
27         MORTGAGE         2916.67    675-679                 .
28         MORTGAGE         4167.00    765-769                 4
29         MORTGAGE         3958.33    760-764                 4
30         MORTGAGE         5833.33    685-689                19
31         MORTGAGE        10583.33    685-689                 9
32         MORTGAGE        10416.67    720-724                 7
33             RENT         5250.00    685-689                14
34              OWN         3666.67    675-679                 8
35         MORTGAGE         5583.33    780-784                 9
36             RENT         5666.67    720-724                 5
37         MORTGAGE         3750.00    830-834                13
38             RENT         5000.00    715-719                11
39         MORTGAGE         3448.33    660-664                10
40         MORTGAGE         2500.00    670-674                 7
41             RENT         4416.67    720-724                23
42             RENT        12000.00    660-664                 2
43             RENT         3700.00    660-664                 5
44             RENT         5166.67    675-679                14
45             RENT         5577.00    715-719                 3
46             RENT         3083.33    710-714                11
47         MORTGAGE        11250.00    670-674                 5
48         MORTGAGE         4600.00    785-789                14
49         MORTGAGE         4500.00    705-709                22
...             ...             ...        ...               ...
2450           RENT         6166.67    710-714                 5
2451           RENT         2000.00    665-669                 8
2452           RENT         7500.00    765-769                 4
2453       MORTGAGE         5900.00    780-784                13
2454       MORTGAGE         6250.00    680-684                 5
2455       MORTGAGE         5577.26    690-694                10
2456            OWN         4166.67    710-714                14
2457           RENT         5458.33    705-709                 7
2458           RENT         6750.00    685-689                12
2459           RENT         3916.67    720-724                 9
2460       MORTGAGE        19583.33    710-714                12
2461       MORTGAGE         3333.33    720-724                 8
2462       MORTGAGE         9166.67    690-694                12
2463           RENT         2666.67    735-739                15
2464           RENT         3544.67    685-689                21
2465            OWN         3100.00    755-759                 7
2466            OWN         4333.33    670-674                15
2467           RENT         2333.33    730-734                 8
2468       MORTGAGE         6333.00    715-719                12
2469       MORTGAGE         6125.00    755-759                 5
2470           RENT         6750.00    665-669                 6
2471       MORTGAGE         5166.67    770-774                18
2472       MORTGAGE         5500.00    685-689                11
2473       MORTGAGE         3833.00    650-654                13
2474           RENT         8333.33    660-664                 8
2475           RENT         4583.33    675-679                 6
2476       MORTGAGE         8583.33    675-679                 9
2477       MORTGAGE        25000.00    730-734                 9
2478       MORTGAGE         5416.67    725-729                12
2479       MORTGAGE         4833.33    680-684                12
2480           RENT         5000.00    760-764                 8
2481       MORTGAGE         9250.00    810-814                12
2482       MORTGAGE         7075.50    720-724                15
2483       MORTGAGE         3416.67    675-679                11
2484       MORTGAGE         6666.67    690-694                15
2485       MORTGAGE         7083.33    765-769                10
2486            OWN         2464.37    665-669                 9
2487           RENT         8000.00    660-664                 6
2488           RENT         3833.33    685-689                 6
2489           RENT         5166.67    670-674                17

In [ ]:
#imdexing/subswtting

In [19]:
ld1=ld.iloc[3:7,1:5]
ld1

  Amount.Requested Amount.Funded.By.Investors Interest.Rate Loan.Length
3            10000                       9975         9.99%   36 months
4            12000                      12000        11.71%   36 months
5             6000                       6000        15.31%   36 months
6            10000                      10000         7.90%   36 months

In [ ]:
ld.loc[:,["Home.Ownership"]]

In [ ]:
ld.head(2)

In [ ]:
ld['Home.Ownership'].unique()

In [ ]:
conditions= (ld['Home.Ownership']=='MORTGAGE') | (ld['Home.Ownership']=='RENT') & (ld['Monthly.Income']>5000)

In [ ]:
ld[conditions].head(3)

In [ ]:
desired_cols = ['Home.Ownership','Monthly.Income']

In [ ]:
result = ld.loc[conditions,desired_cols]
result.shape

In [ ]:
ld[~(conditions)].shape

In [ ]:
import numpy as np
import pandas as pd 
import math

In [ ]:
import pandas as pd 

myfile="/media/dell/D_PROJECTS/Edvancer_Class/PythonWithML/Data/bank-full.csv"
bd=pd.read_csv(myfile,sep=';')

In [ ]:
bd.sample(10)

In [ ]:
bd.columns

In [ ]:
bd.dtypes

In [ ]:
bd.nunique()

In [ ]:
bd['marital'].unique()

In [ ]:
bd.median()

In [ ]:
bd[["age","previous"]].describe()

In [ ]:
bd['job'].unique()

In [ ]:
bd['job'].value_counts()

In [ ]:
len(bd.columns)

In [ ]:
bd_cat_data = bd.select_dtypes(["object"])

In [ ]:
bd_cat_data.sample(5)

In [ ]:
type(bd_cat_data)

In [ ]:
for c in bd_cat_data.columns:
    print(c)
    print(15*"***")
    print(bd[c].value_counts())
    print(15*"---")

In [ ]:
for c in bd_cat_data.columns:
    print(c,";",bd[c].nunique())

In [ ]:
pd.crosstab(bd["default"],bd["job"])

In [ ]:
pd.crosstab(bd["y"],bd["job"],margins=True)

In [ ]:
bd.groupby('job')['age'].mean()

In [ ]:
bd.groupby(['housing','loan'])['age','balance'].mean()

In [ ]:
bd.groupby(['housing','loan']).agg({'age':'mean','duration':'max','balance':'sum'})

import pandas as pd
cities=['Delhi','mumbai','kolkata','chennai']
code=[11,22,33,4a]

In [ ]:
df=pd.DataFrame({'cities':cities,'code':code})
df

In [ ]:

df=pd.DataFrame({'Type':list('ABCD'),'Set':list('zzxy')})
df

In [ ]:
df=(df.drop[3],axis=0)
df

In [ ]:
df=df[df["Type"]=="B"]
df

In [ ]:
import pandas as pd 

file="/media/dell/D_PROJECTS/Edvancer_Class/PythonWithML/Data/loans data.csv"
ld=pd.read_csv(file)

In [ ]:
ld['Interest.Rate'].head(5)

In [ ]:
ld['Interest.Rate'].sample(5)

In [ ]:
ld['FICO.Range'].sample(5)

In [ ]:
# remove % from Intrest rate
new_rate=ld['Interest.Rate'].map(lambda x:float(x.rstrip('%')))
new_rate.head(5)

In [ ]:
#FICO Range
fico_lr = ld['FICO.Range'].map(lambda x:float(str(x[0:3])))
fico_lr.head(5)

In [ ]:
fico_ur = ld['FICO.Range'].map(lambda x:float(str(x[4:])))
fico_ur.head(5)

In [ ]:
    loanamount_clean=pd.to_numeric(ld['Amount.Requested'],errors="coerce")
    loanamount_clean

In [ ]:
#ld['Interest.Rate']= new_rate
ld['Interest.LR']= fico_lr
ld['Interest.UR']= fico_ur

In [ ]:
pd.get_dummies(ld['Home.Ownership'])